.container {
  background: lightblue;
  border: 4px solid blue;
  /* display: flex;*/
}

.row {
  display: flex;
}

.item {
  background: peachpuff;
  border: 2px solid salmon;
  flex: 1;
  padding: 4px;
}

.marked {
  background: blue;
}